/* 
    make sure all padding and borders are included in total width and height of the elements
*/

* {
    box-sizing: border-box;
}


/* 
    NOTE: 
    first width is padding approach, where,
    width of 1 column = 100% / 12 = 8.33% 

    second width is margin approach, where
    single column width (scw) = (100 – (m x (mc – 1))) / mc
*/

.col-1 {
    width: 8.33%;
    width: 6.86666666667%;
}

.col-2 {
    width: 16.66%;
    width: 15.3333333333%;
}

.col-3 {
    width: 25%;
    width: 23.8%;
}

.col-4 {
    width: 33.33%;
    width: 32.2666666667%;
}

.col-5 {
    width: 41.66%;
    width: 40.7333333333%;
}

.col-6 {
    width: 50%;
    width: 49.2%;
}

.col-7 {
    width: 58.33%;
    width: 57.6666666667%;
}

.col-8 {
    width: 66.66%;
    width: 66.1333333333%;
}

.col-9 {
    width: 75%;
    width: 74.6%;
}

.col-10 {
    width: 83.33%;
    width: 83.0666666667%;
}

.col-11 {
    width: 91.66%;
    width: 91.5333333333%;
}

.col-12 {
    width: 100%
}


/*
    all columns should be floating to the left and have a padding of 1.6px
*/

[class*="col-"] {
    position: relative;
    float: left;
    padding: 15px;
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
}


/* apply margin on all columns except the first one */

[class*="col-"]+[class*="col-"] {
    margin-left: 1.6%
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}